:root {
    --main-bg-color: rgb(0,91,178);/* rgb(160,176,191);*/
    --additional-color: #85acc7;
    --hover-gradient: radial-gradient(circle, rgba(243,217,21,1) 0%, rgba(148,187,233,1) 100%);;
    --font-color: rgb(255,255,255);
}
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,Geneva,sans-serif;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    color: var(--font-color);
}

.navbar {
    padding: 1vh 5vw;
}

.nav-links a {
    color: var(--font-color);
}
/* LOGO */
.logo a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 32px;
    display: flex;
}
/* NAVBAR MENU */
.menu {
    height:100%;
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: rgba(33,33,33,0.1);
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    position: relative;
}
.dropdown {
    background-color: var(--main-bg-color);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: rgba(33,33,33,0.1);
}
.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display:none;
        position: absolute;
        z-index: 99999;
        background-color: var(--main-bg-color);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: rgba(33,33,33,0.1);
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: rgba(33,33,33,0.1);
    }
}

/*333333333333333333333333333333333333333333333333333333333333333333333333333*/

main {
    margin: 5vh 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
section {
    border-radius: 7px;
}
article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75vw;
}
article section {
    height: auto;
    width: 100%;
}
.list-group {
    height: auto;
}
.list-group-item {
    /*border: 3px solid #fafafa;*/
    background-color: rgb(248,250,255);
    border-radius: 10px;
    width: 100%;
    margin: 0 0 2% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-item {
    margin-top: 1vh;
    word-wrap: break-word;
    color: #4c5563;
    width: 100%;
}
.content-box {
    width: 85%;
    margin: 3% 0 3% 5%;
}
.title-item {
    font-weight: bold;
    font-size: 1.2em;
}
.created {
    font-family: system-ui;
    font-size: 1em;
    color: #85acc7;
    width: 10%;
    margin-left: 1%;
}
.link-list-item {
    height: 15vh;
    display: flex;
    padding-left: 2vw;
    font-size: 2.2em;
    align-self: center;
    border-bottom: 1px solid var(--additional-color);
}
.link-list-item:first-child {
    border-top: 1px solid var(--additional-color);
}
.link-list-item a {
    align-self: center;
    width:100%;
}
.link-list-item a i {
    float:right;
}

.legend {
    width: 171px;
    padding: 8px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
}